<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Safari</string>
		<key>version</key>
		<string>7.0</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_0) AppleWebKit/537.71 (KHTML, like Gecko) Version/7.0 Safari/537.71</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari</string>
		<key>version</key>
		<string>6.1</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/537.71 (KHTML, like Gecko) Version/6.1 Safari/537.71</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>6.1</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPhone; CPU iPhone OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10B329 Safari/8536.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>6.1</string>
		<key>platform</key>
		<string>iPod touch</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPod; CPU iPhone OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10B329 Safari/8536.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>6.1</string>
		<key>platform</key>
		<string>iPad</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPad; CPU OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10B329 Safari/8536.25</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Android</string>
		<key>version</key>
		<string>4.0.4</string>
		<key>platform</key>
		<string>Samsung Galaxy S3</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Linux; U; Android 4.0.4; en-gb; GT-I9300 Build/IMM76D) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Android</string>
		<key>version</key>
		<string>2.2</string>
		<key>platform</key>
		<string>Samsung Galaxy Tab</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Linux; U; Android 2.2; en-us; SCH-I800 Build/FROYO) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>10.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Win64; x64; Trident/6.0)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>9.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>8.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0; Trident/4.0)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>7.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0)</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Chrome</string>
		<key>version</key>
		<string>26.0</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.65 Safari/537.31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Chrome</string>
		<key>version</key>
		<string>26.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.64 Safari/537.31</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Firefox</string>
		<key>version</key>
		<string>11.0</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:20.0) Gecko/20100101 Firefox/20.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Firefox</string>
		<key>version</key>
		<string>11.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Windows NT 6.2; WOW64; rv:20.0) Gecko/20100101 Firefox/20.0</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Googlebot</string>
		<key>version</key>
		<string>2.1</string>
		<key>platform</key>
		<string>Desktop</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)</string>

	</dict>
	<dict>
		<key>name</key>
		<string>Googlebot</string>
		<key>version</key>
		<string>2.1</string>
		<key>platform</key>
		<string>Smartphone</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5376e Safari/8536.25 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Googlebot-Mobile</string>
		<key>version</key>
		<string>2.1</string>
		<key>platform</key>
		<string>Feature phone</string>
		<key>user-agent</key>
		<string>SAMSUNG-SGH-E250/1.0 Profile/MIDP-2.0 Configuration/CLDC-1.1 UP.Browser/6.2.3.3.c.1.101 (GUI) MMP/2.0 (compatible; Googlebot-Mobile/2.1; +http://www.google.com/bot.html)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bingbot</string>
		<key>version</key>
		<string>2.0</string>
		<key>platform</key>
		<string>Desktop</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; bingbot/2.0; +http://www.bing.com/bingbot.htm)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>YandexBot</string>
		<key>version</key>
		<string>3.0</string>
		<key>platform</key>
		<string>Desktop</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; YandexBot/3.0; +http://yandex.com/bots)</string>
	</dict>
</array>
</plist>
