<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Safari</string>
		<key>version</key>
		<string>6.0.5</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5) AppleWebKit/536.30.1 (KHTML, like Gecko) Version/6.0.5 Safari/536.30.1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari</string>
		<key>version</key>
		<string>5.1.7</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Windows; Windows NT 6.1) AppleWebKit/534.57.2 (KHTML, like Gecko) Version/5.1.7 Safari/534.57.2</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>5.1</string>
		<key>platform</key>
		<string>iPhone</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B179 Safari/7534.48.3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>5.1</string>
		<key>platform</key>
		<string>iPod touch</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPod; CPU iPhone OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B176 Safari/7534.48.3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari iOS</string>
		<key>version</key>
		<string>5.1</string>
		<key>platform</key>
		<string>iPad</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (iPad; CPU OS 5_1 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9B176 Safari/7534.48.3</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>9.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>8.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0; Trident/4.0)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Explorer</string>
		<key>version</key>
		<string>7.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>show-platform</key>
		<false/>
		<key>user-agent</key>
		<string>Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0)</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Chrome</string>
		<key>version</key>
		<string>19.0</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.46 Safari/536.5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Google Chrome</string>
		<key>version</key>
		<string>19.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Windows; Windows NT 6.1) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.46 Safari/536.5</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Firefox</string>
		<key>version</key>
		<string>11.0</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.7; rv:11.0) Gecko/20100101 Firefox/11.0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Firefox</string>
		<key>version</key>
		<string>11.0</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Mozilla/5.0 (Windows NT 6.1; rv:11.0) Gecko/20100101 Firefox/11.0</string>
	</dict>
	<dict>
		<key>separator</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Opera</string>
		<key>version</key>
		<string>11.62</string>
		<key>platform</key>
		<string>Mac</string>
		<key>user-agent</key>
		<string>Opera/9.80 (Macintosh; Intel Mac OS X 10.7.4; U; en) Presto/2.10.229 Version/11.62</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Opera</string>
		<key>version</key>
		<string>11.62</string>
		<key>platform</key>
		<string>Windows</string>
		<key>user-agent</key>
		<string>Opera/9.80 (Windows NT 6.1; U; en) Presto/2.10.229 Version/11.62</string>
	</dict>
</array>
</plist>
